os: linux
dist: xenial
language: node_js
node_js: 
  # - '12'
  - 'lts/*'
cache:
  directories:
  - node_modules
jobs: 
  include:
    - stage: test and coverage
      name: "Run Tests and Coverage"
      before_script:
        - yarn bootstrap
      script:
        - travis_retry yarn test:ci
        - codecov
      env:
        - MOZ_HEADLESS=1
      addons:
        chrome: stable
        firefox: latest
    - stage: semantic release
      name: "Semanitc Release"
      if: branch = master
      node_js: lts/*
      # skip the script step to avoid re-running tests
      script: skip
      deploy: 
        provider: script
        skip_cleanup: true
        script: yarn release:ci
    # - stage: deploy docs
    #   name: "Build and deploy docs post-release"
    #   if: branch = master
    #   node_js: lts/*
    #   # skip the script step to avoid re-running tests
    #   script: skip
    #   before_deploy:
    #     - npm run docs:build
    #   deploy:
    #     provider: pages
    #     token: "$GITHUB_TOKEN"
    #     local_dir: docs/build
    #     target_branch: gh-pages
    #     skip_cleanup: true
    