language: node_js
node_js: 
  - '12'
  - 'lts/*'
cache:
  directories:
  - node_modules
before_script:
  - yarn bootstrap
script:
  - travis_retry yarn test:ci
  - codecov
deploy:
  provider: pages
  cleanup: false
  token: "$GITHUB_TOKEN"
  on:
    branch: master
  local_dir: docs/build
  target_branch: gh-pages
before_deploy:
- npm run docs:build
env:
  - MOZ_HEADLESS=1
addons:
  chrome: stable
  firefox: latest
branches:
  only:
    - master
jobs: 
  include:
    if: branch = master
    - stage: release
      node_js: lts/*
      # skip the script step to avoid re-running tests
      script: skip
      deploy: 
        provider: script
        skip_cleanup: true
        script: npm semantic-release -d